.container {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	width: 450px;
	background: #9EB25D;
	border-radius: 25px;
}

/*
.container::after {
    content: '';
    display: inline-block;
    width: 100%;
    font-size: 1px;
}

.Info {
  display: inline-block;
}
*/
.data {
  margin:5px;
}
